html {
	overflow-x: hidden;
}
.tim-row {
	margin-bottom: 20px;
}
.tim-white-buttons {
	background-color: #777777;
}
.tim-title {
	margin-top: 30px;
	margin-bottom: 25px;
	min-height: 32px;
}
.tim-title.text-center {
	margin-bottom: 50px;
}
.typography-line {
	padding-left: 180px;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}
.typography-line .note {
	bottom: 10px;
	color: #c0c1c2;
	display: block;
	font-weight: 400;
	font-size: 13px;
	line-height: 13px;
	left: 0;
	margin-left: 20px;
	position: absolute;
	width: 260px;
}
.tim-row {
	padding-top: 50px;
}
.tim-row h3 {
	margin-top: 0;
}
.switch {
	margin-right: 20px;
}
#navbar-full .navbar {
	border-radius: 0 !important;
	margin-bottom: 0;
	z-index: 2;
}
.space {
	height: 130px;
	display: block;
}
.space-110 {
	height: 110px;
	display: block;
}
.space-50 {
	height: 50px;
	display: block;
}
.space-70 {
	height: 70px;
	display: block;
}
.navigation-example .img-src {
	background-attachment: scroll;
}
.main {
	background-color: #fff;/*     position: relative; */
}
.navigation-example {
	background-image: url('../img/ilya-yakover.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 0;
}
#notifications {
	background-color: #FFFFFF;
	display: block;
	width: 100%;
	position: relative;
}
#carousel {
	padding-top: 0;
}
.note {
	text-transform: capitalize;
}
.subscribe-form {
	padding-top: 20px;
}
.page-header .card-register .title {
	margin-bottom: 10px;
}
.space-100 {
	height: 100px;
	display: block;
	width: 100%;
}
.sharing-area .btn {
	padding: 0.5rem 10px !important;
}
.be-social {
	padding-bottom: 20px;
	/*     border-bottom: 1px solid #aaa; */
	margin: 0 auto 40px;
}
.txt-white {
	color: #FFFFFF;
}
.txt-gray {
	color: #ddd !important;
}
.footer {
	background-attachment: fixed;
	position: relative;
	line-height: 20px;
}
.footer nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.footer nav > ul > li {
	display: inline-block;
	padding: 10px 15px;
	margin: 15px 3px;
	line-height: 20px;
	text-align: center;
}
.footer nav > ul a:not(.btn) {
	color: #777777;
	display: block;
	margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
	color: #E3E3E3;
}
.footer .copyright {
	color: #777777;
	padding: 10px 15px;
	font-size: 14px;
	margin: 15px 3px;
	line-height: 20px;
	text-align: center;
}
.footer .heart {
	color: #EB5E28;
}
.social-share {
	float: left;
	margin-right: 8px;
}
.social-share a {
	color: #FFFFFF;
}
#subscribe_email {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
.pick-class-label {
	border-radius: 8px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	margin-right: 10px;
	padding: 23px;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}
.parallax {
	width: 100%;
	height: 570px;
	display: block;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.logo-container .logo {
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid #333333;
	width: 50px;
	float: left;
}
.logo-container .brand {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	width: 75px;
	height: 50px;
}
.logo-container {
	margin-top: 5px;
}
.logo-container .logo img {
	width: 100%;
}
.navbar-small .logo-container .brand {
	color: #333333;
}
.demo-header {
	background-size: cover;
	/*background-color: #FF8F5E;*/
	background-position: center top;
	margin-top: -100px;
	min-height: 600px;
}
.demo-height {
	min-height: 102vh;
}
.demo-height .motto {
	padding-top: 20% !important;
}
.demo-header-image {
	background-image: url('../img/city.jpg');
}
.demo-header .motto {
	color: #FFFFFF;
	padding-top: 15%;
	text-align: center;
	z-index: 3;
}
.demo-header .motto h3 {
	margin-bottom: 0;
}
.separator {
	content: "Separator";
	color: #FFFFFF;
	display: block;
	width: 100%;
	padding: 20px;
}
.separator-line {
	background-color: #EEE;
	height: 1px;
	width: 100%;
	display: block;
}
.separator.separator-gray {
	background-color: #EEEEEE;
}
.social-buttons-demo .btn {
	margin-right: 5px;
	margin-bottom: 7px;
}
.img-container {
	width: 100%;
	overflow: hidden;
}
.img-container img {
	width: 100%;
}
.lightbox img {
	width: 100%;
}
.lightbox .modal-content {
	overflow: hidden;
}
.lightbox .modal-body {
	padding: 0;
}

@media screen and (min-width: 991px) {
.lightbox .modal-dialog {
	width: 960px;
}
}

@media screen {
.section-buttons .btn, .section-buttons .btn-morphing {
	margin-bottom: 10px;
}
.parallax .motto {
	top: 170px;
	margin-top: 0;
	font-size: 60px;
	width: 270px;
}
}
.presentation .loader {
	opacity: 0;
	display: block;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1031;
	margin-left: -32px;
	margin-top: -32px;
}
.presentation .loader.visible {
	display: block;
	opacity: 1;
}
.presentation .modal-content {
	background-color: transparent;
	box-shadow: 0 0 0;
}
.presentation .modal-backdrop.in {
	opacity: 0.45;
}
.presentation .preload-image {
	display: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.presentation .section {
	padding: 100px 0;
}
.presentation .colors {
	padding: 100px 0;
}
.presentation > .description {
	padding-top: 20px;
}
.presentation .section-rotation {
	padding: 140px 0;
}
.presentation .section-images {
	padding: 80px 0;
}
.presentation .section-thin {
	padding: 0;
}
.presentation .section-pay {
	padding-top: 20px;
}
.presentation .colors {
	padding: 70px 0;
	z-index: 7;
	position: relative;
	margin-top: -300px;
}
.presentation .colors {
	border-top: 1px solid #DDDDDD;
}
.presentation .card-container {
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
	min-height: 500px;
	width: 300px;
	position: relative;
	margin-top: 90px;
}
.presentation .card-component {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	height: 600px;
}
.presentation .card-component .front {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotateY( -28deg );
	-moz-transform: rotateY( -28deg );
	-o-transform: rotateY( -28deg );
	transform: rotateY( -28deg );
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	width: 100%;
	cursor: pointer;
	box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,.12);
}
.presentation .front img {
	z-index: 2;
	position: relative;
}
.presentation .card-container:hover .front {
	top: -10px;
}
.presentation .card-component img {
	width: 100%;
}
.presentation .description .col-md-3 {
	width: 16%;
	margin-left: 4%;
}
.presentation .first-card {
	z-index: 6;
}
.presentation .second-card {
	z-index: 5;
}
.presentation .third-card {
	z-index: 4;
}
.presentation .fourth-card {
	z-index: 3;
}
.presentation h1, .presentation h2 {
	font-weight: 200;
}
.presentation h4, .presentation h5, .presentation h6 {
	font-weight: 300;
}
.presentation h4 {
	font-size: 18px;
	line-height: 24px;
}
.presentation .info h4 {
	font-size: 24px;
	line-height: 28px;
}
.presentation .section-gray h1 small {
	color: #888888;
}
.presentation .color-container {
	text-align: center;
}
.presentation .color-container img {
	width: 100%;
	margin-bottom: 10px;
}
.presentation .circle-color {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	display: block;
	background-color: #cccccc;
	margin: 0 auto;
}
.presentation .circle-red {
	background-color: #ff3b30;
}
.presentation .circle-blue {
	background-color: #3472f7;
}
.presentation .circle-azure {
	background-color: #2ca8ff;
}
.presentation .circle-green {
	background-color: #05ae0e;
}
.presentation .circle-orange {
	background-color: #ff9500;
}
.presentation .section-gray-gradient {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255,255,255,1)), color-stop(100%, rgba(231,231,231,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 25%, rgba(231,231,231,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 ); /* IE6-9 */
}
.presentation .section-black {
	background-color: #333;
}
.rotating-card-container {
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	perspective: 900px;
	margin-bottom: 30px;
}
.rotating-card {
	-webkit-transition: all 1.3s;
	-moz-transition: all 1.3s;
	-o-transition: all 1.3s;
	transition: all 1.3s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin-top: 20px;
	position: relative;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 20px;
	color: #444444;
}
.rotating-card-container .rotate, .rotating-card .back {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}
.rotating-card-container:hover .rotate {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.rotating-card .front, .rotating-card .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
	box-shadow: 0 3px 17px rgba(0,0,0,.15);
}
.rotating-card .front {
	z-index: 2;
}
.rotating-card .back {
	z-index: 3;
	height: 500px;
	width: 100%;
	display: block;
	padding: 0 15px;
	background-color: #e5e5e5;
}
.rotating-card .back-contaier {
	background-color: white;
	padding: 30px 15px;
}
.rotating-card .image {
	border-radius: 20px 20px 0 0;
}
.rotating-card-container, .rotating-card .front, .rotating-card .back {
	width: 100%;
	min-height: 500px;
	border-radius: 20px;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.rotating-card .front, .rotating-card .back {
	-ms-backface-visibility: visible;
	backface-visibility: visible;
}
.rotating-card .back {
	visibility: hidden;
	-ms-transition: all 0.2s cubic-bezier(.92, .01, .83, .67);
}
.rotating-card .front {
	z-index: 4;
}
.rotating-card-container:hover .back {
	z-index: 5;
	visibility: visible;
}
}
.fixed-section {
	top: 100px;
	max-height: 80vh;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	bottom: auto;
}
.fixed-section ul {
	padding: 0 !important;
}
.fixed-section ul li {
	list-style: none;
}
.fixed-section li a {
	font-size: 14px;
	padding: 2px;
	display: block;
	color: #666666;
}
.fixed-section li a.active {
	color: #00bbff;
}
/* prettyprint */
pre.prettyprint {
	background-color: #eee !important;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 20px !important;
	font-size: 13px;
	text-align: left;
	border-radius: 4px !important;
	border: 1px transparent !important;
}
.presentation .atv, .presentation .str {
	color: #0D9814;
}
.presentation .tag, .presentation .pln, .presentation .kwd {
	color: #195CEC;
}
.presentation .atn {
	color: #2C93FF;
}
.presentation .pln {
	color: #333;
}
.presentation .com {
	color: #999;
}
.presentation .text-white {
	color: #FFFFFF;
	text-shadow: 0 1px 2px rgba(0,0,0,.13);
}
.presentation .section-images .card-image {
	border-radius: 6px 6px 0 0;
	overflow: hidden;
	box-shadow: 0 -3px 8px rgba(0,0,0,0);
}
.presentation .section-images .card-image .image {
/*     border-radius: 6px; */
}

@media (max-width: 1200px) {
.presentation .section-images .image img {
	width: 100%;
}
}
.presentation .card-text-adjust {
	padding-left: 40px;
}
.presentation .info.info-separator {
	position: relative;
}
.presentation .info.info-separator:after {
	height: 100%;
	position: absolute;
	background-color: #ccc;
	width: 1px;
	content: "";
	right: -7px;
	top: 0;
}
.presentation .info li {
	padding: 5px 0;
	border-bottom: 1px solid #E5E5E5;
	color: #666666;
}
.presentation .info ul {
	width: 240px;
	margin: 10px auto;
}
.presentation .info li:last-child {
	border: 0;
}
/*      layer animation          */

.layers-container {
	display: block;
	margin-top: 50px;
	position: relative;
}
.layers-container img {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	text-align: center;
}
.section-black {
	background-color: #333;
}
#layerHover {
	top: 30px;
}
#layerImage {
	top: 50px;
}
#layerBody {
	top: 75px;
}
.animate {
	transition: 1.5s ease-in-out;
	-moz-transition: 1.5s ease-in-out;
	-webkit-transition: 1.5s ease-in-out;
}
.down {
	transform: translate(0, 45px);
	-moz-transform: translate(0, 45px);
	-webkit-transform: translate(0, 45px);
}
.down-2x {
	transform: translate(0, 90px);
	-moz-transform: translate(0, 90px);
	-webkit-transform: translate(0, 90px);
}
.navbar-default.navbar-small .logo-container .brand {
	color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand {
	color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand {
	color: #333333;
}
.section-thin {
	padding-bottom: 0;
}
.info.info-separator {
	position: relative;
}
.info.info-separator:after {
	height: 100%;
	position: absolute;
	background-color: #ccc;
	width: 1px;
	content: "";
	right: -7px;
	top: 0;
}

@media (max-width: 767px) {
.info.info-separator:after {
	display: none;
}
}
.info li {
	padding: 5px 0;
	border-bottom: 1px solid #E5E5E5;
	color: #666666;
}
.info ul {
	width: 240px;
	margin: 10px auto;
}
.info li:last-child {
	border: 0;
}
.payment-methods i {
	font-size: 28px;
	padding: 0 3px;
	width: 38px;
}
.payment-methods h4 {
	font-size: 18px;
	line-height: 38px;
}
.info .description .btn {
	width: 240px;
	font-weight: 500;
}
#buyButtonHeroes {
	margin-top: 31px;
}
.right-click {
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.8);
	position: fixed;
	z-index: 20000;
	display: none;
}
.onclick {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 20001;
}
.container-right-click {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.container-right-click .card-price#card-price-small {
	margin-top: 70px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	position: relative;
	z-index: 20003;
}
.container-right-click .card-price#card-price-big {
	margin-top: 40px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	position: relative;
	z-index: 20003;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes bounceInDown {
 0%, 60%, 75%, 90%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, -3000px, 0);
 transform: translate3d(0, -3000px, 0);
}
 60% {
 opacity: 1;
 -webkit-transform: translate3d(0, 25px, 0);
 transform: translate3d(0, 25px, 0);
}
 75% {
 -webkit-transform: translate3d(0, -10px, 0);
 transform: translate3d(0, -10px, 0);
}
 90% {
 -webkit-transform: translate3d(0, 5px, 0);
 transform: translate3d(0, 5px, 0);
}
 100% {
 -webkit-transform: none;
 transform: none;
}
}
 @keyframes bounceInDown {
 0%, 60%, 75%, 90%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, -3000px, 0);
 transform: translate3d(0, -3000px, 0);
}
 60% {
 opacity: 1;
 -webkit-transform: translate3d(0, 25px, 0);
 transform: translate3d(0, 25px, 0);
}
 75% {
 -webkit-transform: translate3d(0, -10px, 0);
 transform: translate3d(0, -10px, 0);
}
 90% {
 -webkit-transform: translate3d(0, 5px, 0);
 transform: translate3d(0, 5px, 0);
}
 100% {
 -webkit-transform: none;
 transform: none;
}
}
.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
.container-right-click h4 {
	color: white;
	margin-top: 45px;
	font-weight: 200;
	margin-bottom: 0;
}
.icon-class {
	fill: #75c3b6;
}
.navbar-header {
	min-width: 135px;
}
#demo-navbar {
	border-radius: 0;
	margin-bottom: 0px;
}
.download-area {
	margin-top: 30px;
}
.sharing-area {
	margin-top: 50px;
}
.sharing-area .btn {
	margin-top: 14px;
}
/* nucleo icons  */

.demo-iconshtml {
	font-size: 62.5%;
}
.demo-icons body {
	font-size: 1.6rem;
	font-family: sans-serif;
	color: #333333;
	background: white;
}
.demo-icons a {
	color: #608CEE;
	text-decoration: none;
}
.demo-icons header {
	text-align: center;
	padding: 100px 0 0;
}
.demo-icons header h1 {
	font-size: 2.8rem;
}
.demo-icons header p {
	font-size: 1.4rem;
	margin-top: 1em;
}
.demo-icons header a:hover {
	text-decoration: underline;
}
.demo-icons .nc-icon {
	font-size: 34px;
}
.demo-icons section {
	width: 90%;
	max-width: 1200px;
	margin: 50px auto;
}
.demo-icons section h2 {
	border-bottom: 1px solid #e2e2e2;
	padding: 0 0 1em .2em;
	margin-bottom: 1em;
}
.demo-icons ul::after {
	clear: both;
	content: "";
	display: table;
}
.demo-icons ul li {
	width: 25%;
	float: left;
	padding: 16px 0;
	text-align: center;
	border-radius: .25em;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}
.demo-icons ul li:hover {
	background: #f4f4f4;
}
.demo-icons ul p, .demo-icons ul em, .demo-icons ul input {
	display: inline-block;
	font-size: 1rem;
	color: #999999;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.demo-icons ul p {
	padding: 20px 0 0;
	font-size: 12px;
	margin: 0;
}
.demo-icons ul p::selection, .demo-icons ul em::selection {
	background: #608CEE;
	color: #efefef;
}
.demo-icons ul em {
	margin-bottom: 8px;
	font-size: 12px;
}
.demo-icons ul em::before {
	content: '[';
}
.demo-icons ul em::after {
	content: ']';
}
.demo-icons ul input {
	text-align: center;
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
	display: none;
}

@media only screen and (min-width: 768px) {
.demo-icons ul li {
	width: 20%;
	float: left;
}
}

@media only screen and (min-width: 1024px) {
.demo-icons ul li {
	width: 12.5%;
	float: left;
	padding: 32px 0;
}
}

@media screen and (max-width: 991px) {
.following .follows .row {
	text-align: center;
}
}
/* for components and tutorial page */
    /*pre.prettyprint{
        background-color: #FFFCF5;
        border: 0px;
        margin-bottom: 0;
        margin-top: 20px;
        padding: 20px;
        text-align: left;
    }*/
.atv, .str {
	color: #75c3b6;
}
.tag, .pln, .kwd {
	color: #7A9E9F;
}
.atn {
	color: #68B3C8;
}
.pln {
	color: #333;
}
.com {
	color: #999;
}
.space-top {
	margin-top: 30px;
}
.area-line {
	/*border: 1px solid #999;*/
	border-left: 0;
	border-right: 0;
	color: #666;
	display: block;
	margin-top: 20px;
	padding: 8px 0;
	text-align: center;
}
.area-line a {
	color: #666;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}
.example-pages {
	margin-top: 50px;
}
.main .section:first-of-type {
	position: relative;
	z-index: 2;
}
.profile-content {
	padding-top: 0;
	position: relative;
	z-index: 2;
}
.btn {
	xmargin: 8px;
	background-color: white;
	color: grey;
	border-color: grey;
}
/* .card1{
        margin-right: 8px;
        width: 10rem; height: 10rem;
        margin-top: 10px;
        border-radius: 8px
    }*/
.checked {
	color: #ff5b4a;
}
.card-body h5 {
	margin: 0;
}
.flex-sty {
	background-image: url(../../img/header.jpg);
	background-position: center;
	background-size: cover;
	display: flex !important;
}
body {
	font-family: Lato;
}
p {
	font-weight: 510;
	color: #9b9a9b;
}
.card-title {
	font-weight: 600;
}
.navbar-default .navbar-nav .nav-item .nav-link:not(.btn) {
	color: #111;
	font-size: 16px;
}
 @charset "utf-8";
.pt-30 {
	padding-top: 30px;
}
.fl-left {
	float: left;
}
.logo-mn {
	width: 4rem;
	height: 5rem;
	padding: 10px
}
.pt-15 {
	padding-top: 15px;
}
.search-ht {
	border-style: solid solid solid none;
	border-width: 1px 1px 1px medium;
	height: 55px;
	width: 100%;
}
.sear-ht {
	border: 1px solid #eee;
	height: 45px;
	width: 100%;
}
.ht-serc {
	height: 55px;
}
.fl-right {
	float: right;
}
.wdt-lo {
	width: 130px
}
.dp-menu {
	margin-left: -100px;
}
.head-third {
	font-weight: bold;
	margin-bottom: 20px;
}
.mt-lft {
	border: 2px solid #eee !important;
	border-radius: 2px !important;
	left: -80px;
}
.clr {
	color: #ff5b4b
}
.wdt-sty {
    width: 90px;
}
.center {
	text-align: center
}
.cod-1 {
	border: 2px solid #848484;
	border-radius: 6px;
	display: inline-block;
	height: 45px;
	margin-bottom: 30px;
	margin-left: 6px;
	padding: 5px;
	width: 45px;
}
.pos-sty {
	position: absolute;
	right: 5px;
	top: 8px;
}
.fun-sty {
	font-style: italic;
	font-weight: 400
}
.sel-para {
	font-size: 20px;
	padding: 10px;
}
.img-mx {
	max-width: 100%;
}
.para-bach {
	font-size: 20px;
	padding: 10px
}
footer {
	border-top: 1px solid #ccc;
}
.logi-ras {
	background: #ff5b4b;
	color: #fff;
	border: medium none;
	margin-top: 1px !important;
	width: 100%;
}
.logi-ras:hover {
	background: #ff5b4b;
	color: #fff;
	border: medium none;
}
.wrn-ph {
}
.verify {
	font-weight: bold;
	margin-top: 5px;
}
.login-clr {
	background-color: #ff8e82;
}
.mn-drop li {
	border-bottom: 1px solid#eee;
}
.mn-drop a {
	color: #848484;
	font-size: 16px;
}
.drope-sty {
	position: absolute;
	transform: translate3d(0px, 31px, 0px);
	top: 0px;
	left: 0px;
	will-change: transform;
	width: 450px;
}
.drope-sty .dro_disc h5 {
	color: #82839c;
	font-size: 18px;
	font-weight: 500;
	xpadding-left: 15px;
}
.drop-sty {
    color: #82839c;
    font-size: 22px;
    margin: 20px 0;
    text-transform: inherit;
    font-weight: 400;
}
.fam-ly {
	padding-left: 15px;
}
.dro_mss_dis .form-check .form-check-sign::before, .form-check .form-check-sign::after{
	background-color:transparent;	
}
/* CSS Document */
/************************************************Asif css 02-11-18*************************************************************************/
.log_img img {
	width: 90px;
	border: 2px solid #ff5a4a;
	border-radius: 90pc;
}
.or_op {
	text-align: center;
}
span.conect {
	font-size: 12px;
	text-transform: lowercase;
	padding: 0 6px 0 0;
}
.face_btn {
	text-align: center;
}
.face_btn a {
	background: #1d68ac;
	border: 2px solid #1d68ac;
	border-radius: 0;
	color: #fff;
	text-transform: capitalize;
}
.googl_btn a {
	border: 2px solid #f15b4d;
	border-radius: 0;
	color: #f15b4d;
	text-transform: capitalize;
}
.smt_btn .btn {
	margin: 0;
	background: #f15b4d;
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	border: none;
}
.login_form .card-body {
	background: #fff;
	margin: 40px 40px 110px;
	padding: 20px 20px;
	border-radius: 15px;
}
.login_form {
	position: relative;
}
.login_form {
	position: relative;
	top: 110px;
}
.log_img {
	position: absolute;
	left: 0;
	right: 0;
	top: -60px;
}
.or_op {
	padding: 5px 0 5px 0;
}
.or_op img {
	width: 100%;
}
.contact-form input {
	background: #e3e3e3;
	border-radius: 0;
}
.contact-form .col-md-6:first-child {
	padding-right: 5px;
}
.contact-form .col-md-6:last-child {
	padding-left: 5px;
}
.contact-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color:  rgba(143,137,137,1.00) !important;
}
.contact-form ::-moz-placeholder { /* Firefox 19+ */
 color: rgba(143,137,137,1.00)!important;
}
.contact-form :-ms-input-placeholder { /* IE 10+ */
 color: rgba(143,137,137,1.00) !important;
}
.contact-form :-moz-placeholder { /* Firefox 18- */
 color:rgba(143,137,137,1.00) !important;
}
.cod_log  {
	display: block;
	justify-content: center;
}
.log_text{
	text-align: center;
}
.commt_icon i {
	font-size: 20px;
	margin-left: 10px;
}
.dor_menu {
	display: flex;
	justify-content: space-between;
	padding: 0 15px
}
.commt_icon .dropdown-menu {
	width: 320px;
	right: 0;
	left: -200px;
	    padding: 20px 0;
}
.dro_disc span {
	font-size: 11px;
	color: #ccc;
}
.dro_inn_box {
	margin-bottom: 20px;
}
.dro_mss_dis {
	text-align: right;
}
span.star_count {
	font-size: 11px;
}
.inner_box_main {
	padding: 60px 0;
}
.left_side {
	border: 2px solid #aaa;
	border-radius: 10px;
	padding: 15px 0px;
}
.my_atb {
	justify-content: space-between;
	padding: 0 20px;
	position: relative;
}
span.adu {
	font-size: 13px;
	font-weight: 400;
}
.tab_innr_txt h5 {
	font-weight: 900;
	color: #000;
}
.sel-tim {
	justify-content: space-between;
	display: block;
}
.set_time{
	display: flex;
	width: 100%;
}
.clock{
	font-size: 20px;
    margin-top: 13px;
    margin-right: 8px;
}
span.post {
	font-size: 13px;
	color: #ff5b4a;
}
.adl_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
.shop_cart {
	display: flex;
}
p.min {
	font-size: 23px;
	border: 1px solid #ff5b4a;
	border-radius: 20px;
	height: 30px;
	width: 30px;
	line-height: 26px;
	text-align: center;
}
.inp_xr input {
	width: 30px;
	text-align: center;
	margin: 0px 10px;
	border: 0;
	line-height: 0;
	font-size: 20px;
}
span.chil_dis {
	font-size: 13px;
}
.lef_fot_txt h6 {
	color: #ff5b4a;
	font-size: 16px;
	line-height: 16px;
}
span.left_sp {
	font-size: 11px;
	text-transform: capitalize;
}
.left_book_btn {
	text-align: right;
}
.left_book_btn button {
	padding: 7px 45px;
	font-size: 20px;
	color: #fff;
	font-weight: 800;
	letter-spacing: 1px;
	border: 0;
}
.top_star {
	padding: 0 15px 10px;
}
.my_atb li a {
	text-transform: capitalize !important;
	font-size: 20px;
	color: #948888;
	position: relative;
}
.my_atb li a.active::after {
	border-bottom: 4px solid #ff5b4a;
	content: " ";
	display: inline-block;
	width: 160px;
	position: absolute;
	top: 0;
	left: -35px;
	bottom: -6px;
	z-index: 111;
}
.my_atb:after {
	border-bottom: 2px solid #ccc;
	content: "";
	display: inline-block;
	/* width: 350px; */
	width: 100%;
	position: absolute;
	bottom: -4px;
	left: -17px;
}
.my_atb li a.active::before {
	width: 50px;
	content: "";
	position: absolute;
	right: -38px;
	border: 2px solid #ff5b4a;
	bottom: -6px;
	z-index: 123;
	display: inline-block;
}
.right_head h2 {
	margin: 0;
	font-size: 30px;
}
.right_head p {
	font-size: 18px;
	padding-top: 15px;
}
.user_left {
	text-align: center;
}
.user_left p {
	padding-top: 10px;
	font-size: 18px;
}
.user_left img {
	width: 40%;
}
.act_faml_sec {
	padding: 20px 0;
}
.icon img {
	width: 40px;
	vertical-align: middle;
	padding-right: 10px;
}
.sec_fam {
	display: flex;
	align-items: center;
}
.activ_sec {
	border: 1px solid #ccc;
	padding: 10px 50px 40px;
	border-radius: 15px;
	margin: 10px 0;
}
.activ_sec h4 {
	margin: 17px 0;
	color: #9c9c9c;
}
.activ_sec p a {
	color: #f5593d;
}
.cat_box {
	border: 1px solid #b3aaaa;
	padding: 10px 15px 0;
	min-height: 148px;
}
p.incl {
	text-align: right;
	font-size: 11px;
}
.cat_box span {
	margin: 0 0 15px;
	display: inline-block;
}
.icon_img img {
	width: 35%;
}
.act_pd_had {
	display: flex;
	align-items: flex-end;
	margin: 10px 0 0 0;
}
.img_act_pd img {
	width: 30px;
	margin-right: 20px;
}
.act_pd_had p {
	font-size: 20px;
}
.act_map img {
	width: 100%;
	margin: 20px 0;
}
.act_rul h4 {
	margin: 21px 0;
	font-size: 20px;
	color: #9b9b9b;
	font-weight: 900;
}
.act_rul p {
	margin-bottom: 15px;
}
span.read_mr a {
	color: #f5593d;
	margin-left: 5px;
}
.my_slid img {
	object-fit: cover;
	object-position: top;
	height: 550px !important;
}
.form_bc .form-check {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
}
.form_bc .form-check .form-check-label input[type="checkbox"]:checked + .form-check-sign:before {
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 0;
}
p.use_ch {
	font-size: 18px;
	font-weight: 800;
}
.form_bc .form-check .form-check-sign::after {
	font-size: 16px;
	color: #f5593d;
}
.add_box .form-check-sign::before, .form-check .form-check-sign::after {
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 0;
}
.bc_pick {
	border: 2px solid #ccc;
	padding: 20px 20px;
	border-radius: 4px;
}
.bc_pick_2 h5 {
	margin-bottom: 0;
}
p.who_u {
	font-size: 13px;
}
.pick_2 input {
	border-bottom: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding-bottom: 10px;
	border-radius: 0;
}
form.pick_2 {
	padding: 10px 0;
}
.dro_disc h3 {
    text-align: center;
    margin: 0 0 30px 0;
    color: #989191;
    font-size: 28px;
    font-weight: 800;
}
.activ_se h6.drop-sty {
    margin: 6px 0;
}
.act_btn button {
    width: 100%;
    margin: 0px 0px;
    color: #ff5b4a;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: 1px solid #ff5b4a;
    padding: 8px 0;
}
.navbar-nav.mr-auto .dropdown-menu:before, .navbar-nav.mr-auto .dropdown-menu:after {
    left: auto !important;
    right: 20px !important;
}
.mt-lft li a {
    color: #8a8686;
    font-size: 16px;
}
.mt-lft li a:hover, .mt-lft li a:focus {
    color: #ff5b4a;
    outline: none;
}
.size{
	width: 97% !important;
}
.no_padd{
	padding-left: 15px !important;
}
.iconsSize{
	width: 40%;
}
.imgdisplay{
	width: 50%;
    padding-top: 0px;
    text-align: center;
}
.btnImg{
	background-color: transparent;
	outline: none;
	border: none;
	outline-color: transparent !important;
	margin-top: 5px;
}
.spanImg{
	color: red;
	font-size: 12px;
}
.btnWdth{
	width: 55%;
}
.srwdth{
	width: 45%;
}
.bookBnt{
	padding: 7px 30% !important;
    font-size: 18px !important;
    max-width: 100%;
}
.see_all_link{
	color: orange !important;
}
/* .dropdown.show .dropdown-menu {
    
} */
@media screen and (max-width: 991px){
.dropdown.show .dropdown-menu {
	margin-left: 56px ;
	background-color: #fff !important;
}}
@media screen and (max-width: 991px){
	.marginres {
		display: block;
		margin-left: 176px !important;
	}}
	@media screen and (max-width: 991px)
{	.nav-open .navbar-collapse {
		
		color: white !important;
	}}
	.scrollbtn{
		transition: all 1s;
	}
	html {
		scroll-behavior: smooth;
	  }